.title {
  color: var(--color-black);
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 2.125rem);
  font-family: var(--font-primary);

  &.center {
    text-align: center;
  }

  &.brand {
    color: var(--color-blue);
    font-size: 2.5rem;
  }
}

.paragraph {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.125rem;
  font-family: var(--font-primary);

  &.bold,
  strong {
    font-weight: 800;
  }

  &.white {
    color: var(--color-white);
  }
}
