.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: bisque;

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerContent div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.header h1 {
  color: blue;
  font-size: 2rem;
}

.header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
